* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.root {
    padding: 30px;
    background-color: #fff;
    background-image: url("../src/icons/taks-unsplash.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}